<div>
    <img src="images/home.png" height="720px" width="100%">
</div>
<div class="navbar">
    <div class="leftnav">
        <img src="images/Logo.png" height="50px" width=" 50px">
    </div>
    <div class="midnav">
        <a href="/#">HOME</a>
        <a href="/#info">INFO</a>
        <a href="/" style="margin-right:0;">ABOUT</a>
    </div>
    <div class="rightnav">
        <!-- <button class="loginbutton">
            LOGIN
        </button> -->
        <div class="dropdown">
            <% if (activeUser===null) { %>
                <button class="dropbtn">Login</button>
                <div class="dropdown-content">
                    <a href="/login">Login</a>
                    <a href="/signup">Sign Up</a>
                </div>
                <% } else { %>
                    <button class="dropbtn">Hi,<%= activeUser.username %> </button>
                    <div class="dropdown-content">
                        <a href="/logout">Log Out</a>
                    </div>
                    <% } %>
        </div>
    </div>
</div>