<div>
    <img src="images/home.png" height="720px" width="100%">
</div>
<div class="navbar">
    <div class="leftnav">
        <img src="images/Logo.png" height="50px" width=" 50px">
    </div>
    <div class="midnav">
        <a href="/#">HOME</a>
        <a href="/#info">INFO</a>
        <a href="/" style="margin-right:0;">ABOUT</a>
    </div>
    <div class="rightnav">
        <button class="loginbutton">
            LOGIN
        </button>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>
</div>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>