.backg {
  height: 700px;
  width: 100%;
  align-items: center;
  text-align: center;
}
.bg1 {
  position: absolute;
  top: 0;
  left: 0;
}
.bg2 {
  position: absolute;
  top: 180px;
}
.stage {
  width: 100%;
  height: 700px;
  text-align: center;
}
button {
  font-size: 30px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 10px;
  opacity: 0.9;
}
.foot {
  position: absolute;
  top: 2000px;
  left: 0;
  right: 0;
  background-color: #16201a;
  height: 200px;
  width: 100%;
  color: white;
  text-align: center;
}
.stage h1 {
  font-family: "Open Sans", sans-serif;
}
