.u-section-1 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: normal;
  text-shadow: -4px 7px 8px rgba(128,128,128,1);
  margin: 140px 85px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: -40px 40px 40px rgba(15,220,88,0.25);
  animation-duration: 1000ms;
  font-size: 3rem;
  background-image: none;
  margin: 215px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 770px;
    margin-right: 270px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 639px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 44px;
    margin-left: 210px;
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -201px;
    margin-left: 400px;
    margin-right: 400px;
  }
}