.u-section-7-1 {
  background-image: none;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 438px;
}

.u-section-7-1 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-7-1 .u-image-1 {
  min-height: 249px;
  background-image: url("images/9128b86353e4842be4d18a0ad35db0bd.jpg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-image-2 {
  min-height: 249px;
  background-image: url("images/6c1465a75fc94dfcb4c70764c7d51075.jpg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-image-3 {
  min-height: 249px;
  background-image: url("images/gardengrove_3.jpg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-image-4 {
  min-height: 249px;
  background-image: url("images/1a24c3d097094bcc44c90d8ee78e3bf5.jpg");
  background-position: 50% 50%;
}

.u-section-7-1 .u-layout-cell-5 {
  min-height: 249px;
}

.u-section-7-1 .u-container-layout-5 {
  padding-right: 20px;
}

.u-section-7-1 .u-text-1 {
  font-family: verdana;
  margin: 23px 0 0 20px;
}

.u-section-7-1 .u-btn-1 {
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: verdana;
  margin: 20px 0 23px auto;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    margin-top: 95px;
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 202px;
  }

  .u-section-7-1 .u-image-2 {
    min-height: 202px;
  }

  .u-section-7-1 .u-image-3 {
    min-height: 202px;
  }

  .u-section-7-1 .u-image-4 {
    min-height: 202px;
  }

  .u-section-7-1 .u-layout-cell-5 {
    min-height: 202px;
  }

  .u-section-7-1 .u-container-layout-5 {
    padding-right: 16px;
  }

  .u-section-7-1 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-left: 16px;
  }

  .u-section-7-1 .u-btn-1 {
    position: relative;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 2455px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    width: 663px;
    margin: 100px auto 113px 28px;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 450px;
  }

  .u-section-7-1 .u-image-2 {
    min-height: 451px;
  }

  .u-section-7-1 .u-image-3 {
    min-height: 450px;
  }

  .u-section-7-1 .u-image-4 {
    min-height: 451px;
  }

  .u-section-7-1 .u-layout-cell-5 {
    min-height: 450px;
  }

  .u-section-7-1 .u-container-layout-5 {
    padding-right: 13px;
  }

  .u-section-7-1 .u-text-1 {
    margin-top: 23px;
    margin-left: 13px;
  }

  .u-section-7-1 .u-btn-1 {
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-7-1 .u-layout-wrap-1 {
    margin-bottom: 100px;
    margin-right: 0;
    margin-left: 0;
    width: auto;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 249px;
  }

  .u-section-7-1 .u-image-2 {
    min-height: 249px;
  }

  .u-section-7-1 .u-image-3 {
    min-height: 249px;
  }

  .u-section-7-1 .u-image-4 {
    min-height: 249px;
  }

  .u-section-7-1 .u-layout-cell-5 {
    min-height: 249px;
  }

  .u-section-7-1 .u-container-layout-5 {
    padding-right: 9px;
  }

  .u-section-7-1 .u-text-1 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7-1 .u-image-1 {
    min-height: 264px;
  }

  .u-section-7-1 .u-image-2 {
    min-height: 264px;
  }

  .u-section-7-1 .u-image-3 {
    min-height: 264px;
  }

  .u-section-7-1 .u-image-4 {
    min-height: 264px;
  }

  .u-section-7-1 .u-layout-cell-5 {
    min-height: 264px;
  }

  .u-section-7-1 .u-container-layout-5 {
    padding-right: 6px;
  }

  .u-section-7-1 .u-text-1 {
    margin-top: 32px;
    margin-left: 6px;
  }
}.u-section-7-2 {
  background-image: none;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 438px;
}

.u-section-7-2 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-7-2 .u-image-1 {
  min-height: 249px;
  background-image: url("images/ebee33e407221a4659a7a1b1d17dc600.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-image-2 {
  min-height: 249px;
  background-image: url("images/fe8d6a07984101c64780055c347fbcda.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-image-3 {
  min-height: 249px;
  background-image: url("images/fa8f8ffc6433d7cdd5367786847bb4ae.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-image-4 {
  min-height: 249px;
  background-image: url("images/6c1465a75fc94dfcb4c70764c7d51075.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-image-5 {
  min-height: 249px;
  background-image: url("images/fe8d6a07984101c64780055c347fbcda1.jpg");
  background-position: 50% 50%;
}

.u-section-7-2 .u-container-layout-5 {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    margin-top: 72px;
    margin-bottom: 72px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 2455px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    width: 642px;
    margin: 87px auto 87px 39px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 458px;
  }

  .u-section-7-2 .u-image-2 {
    min-height: 458px;
  }

  .u-section-7-2 .u-image-3 {
    min-height: 458px;
  }

  .u-section-7-2 .u-image-4 {
    min-height: 458px;
  }

  .u-section-7-2 .u-image-5 {
    min-height: 458px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 1435px;
  }

  .u-section-7-2 .u-layout-wrap-1 {
    width: 383px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 78px;
  }

  .u-section-7-2 .u-image-1 {
    min-height: 249px;
  }

  .u-section-7-2 .u-image-2 {
    min-height: 249px;
  }

  .u-section-7-2 .u-image-3 {
    min-height: 249px;
  }

  .u-section-7-2 .u-image-4 {
    min-height: 249px;
  }

  .u-section-7-2 .u-image-5 {
    min-height: 249px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-layout-wrap-1 {
    margin-right: 0;
    margin-left: 0;
    width: auto;
  }
}.u-section-1 {
  background-image: url("images/v.jpg");
  background-position: 50% 50%;
  min-height: 513px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 513px;
  background-image: url("images/bg2.jpg");
  background-position: 100% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 70px 0 50px 80px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-size: 4.6875rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  margin: 22px auto 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 513px;
  background-image: url("images/Untitled1.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 423px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 474px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 45px;
  }

  .u-section-1 .u-image-2 {
    min-height: 474px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 363px;
  }

  .u-section-1 .u-image-1 {
    min-height: 433px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-2 {
    min-height: 433px;
    background-position: 39.48% 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 812px;
  }

  .u-section-1 .u-image-1 {
    min-height: 208px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-2 {
    min-height: 559px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 548px;
  }

  .u-section-1 .u-image-1 {
    min-height: 131px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-2 {
    min-height: 352px;
  }
}.u-section-2 .u-shape-1 {
  height: 113px;
  margin-top: 181px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 286px;
  margin: -294px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -85px auto 57px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 314px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-1 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 27px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 0 27px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 314px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-2 .u-icon-2 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 20px 30px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 314px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-icon-3 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 22px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 0 30px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 314px;
}

.u-section-2 .u-icon-4 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 14px 20px 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    height: 105px;
    margin-left: initial;
  }

  .u-section-2 .u-sheet-1 {
    margin-top: -286px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-icon-1 {
    height: 65px;
    width: 65px;
    position: relative;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-2 .u-icon-2 {
    height: 65px;
    width: 65px;
    position: relative;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 321px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-icon-3 {
    height: 65px;
    width: 65px;
    position: relative;
  }

  .u-section-2 .u-text-5 {
    position: relative;
  }

  .u-section-2 .u-text-6 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 321px;
  }

  .u-section-2 .u-icon-4 {
    height: 65px;
    width: 65px;
    position: relative;
  }

  .u-section-2 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    height: 110px;
    margin-top: 502px;
    margin-left: initial;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 607px;
    margin-top: -612px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -57px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-icon-1 {
    height: 68px;
    width: 68px;
    margin-top: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-icon-2 {
    height: 75px;
    width: 75px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    height: 67px;
    width: 67px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-icon-4 {
    height: 67px;
    width: 67px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 22px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    height: 120px;
    margin-top: 1136px;
    margin-left: initial;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1256px;
    margin-top: -1256px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -77px;
    margin-bottom: -18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    height: 64px;
    width: 64px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-icon-2 {
    height: 70px;
    width: 70px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-icon-3 {
    height: 63px;
    width: 63px;
  }

  .u-section-2 .u-icon-4 {
    height: 63px;
    width: 63px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    height: 105px;
    margin-top: 1124px;
    margin-left: initial;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 286px;
    margin-top: -1228px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -85px;
    margin-bottom: 57px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-icon-1 {
    height: 39px;
    width: 39px;
    margin-top: 27px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 27px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-2 .u-icon-2 {
    height: 39px;
    width: 39px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-icon-3 {
    height: 39px;
    width: 39px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 22px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 314px;
  }

  .u-section-2 .u-icon-4 {
    height: 39px;
    width: 39px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 14px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 373px;
}

.u-section-3 .u-group-1 {
  min-height: 283px;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 49px;
  padding-right: 49px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px 60px 0;
}

.u-section-3 .u-line-1 {
  width: 71px;
  height: 3px;
  transform-origin: left center;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-3 .u-group-1 {
    min-height: 315px;
    margin-top: 36px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 59px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    font-style: normal;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3 .u-group-1 {
    min-height: 365px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-3 .u-line-1 {
    width: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-3 .u-group-1 {
    min-height: 340px;
    margin-top: 34px;
    margin-bottom: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-3 .u-line-1 {
    width: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-3 .u-group-1 {
    min-height: 478px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-line-1 {
    width: 35px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 794px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 105px auto 6px 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/Untitled3.jpg");
  min-height: 631px;
  background-position: 50% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 303px;
}

.u-section-4 .u-container-layout-2 {
  padding-right: 20px;
}

.u-section-4 .u-image-2 {
  width: 244px;
  height: 244px;
  background-image: url("images/e4432bc7ad12231d31bce296184848c8.jpg");
  background-position: 50% 50%;
  margin: 24px auto 0 -126px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-family: verdana;
  margin: -244px 0 0 164px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  margin: 38px 0 61px 243px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 328px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 6px;
}

.u-section-4 .u-image-3 {
  width: 299px;
  height: 206px;
  margin: 35px 0 0 auto;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: -206px 297px 0 20px;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: verdana;
  margin: 38px auto 8px 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 617px;
    z-index: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 312px;
    z-index: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 16px;
  }

  .u-section-4 .u-image-2 {
    width: 201px;
    height: 201px;
    margin-top: 45px;
    margin-left: -104px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -221px;
    margin-left: 135px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 0;
    margin-left: 200px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 305px;
    z-index: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 5px;
  }

  .u-section-4 .u-image-3 {
    width: 246px;
    margin-top: 38px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 245px;
    margin-left: 16px;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
    margin: 20px 16px 13px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1528px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 67px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 707px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 13px;
  }

  .u-section-4 .u-image-2 {
    width: 312px;
    height: 312px;
    margin-top: -147px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -45px;
    margin-left: 305px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 38px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 406px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 4px;
  }

  .u-section-4 .u-image-3 {
    width: 415px;
    margin-top: 180px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -335px;
    margin-right: 188px;
    margin-left: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 105px;
    margin-bottom: 105px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 661px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 9px;
  }

  .u-section-4 .u-image-2 {
    width: 257px;
    height: 257px;
    margin-top: -180px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 78px;
  }

  .u-section-4 .u-text-2 {
    width: 416px;
    margin-bottom: 35px;
    margin-left: 115px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 370px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 3px;
  }

  .u-section-4 .u-image-3 {
    width: 328px;
    height: 174px;
    margin-top: 176px;
  }

  .u-section-4 .u-text-3 {
    width: 390px;
    margin-top: -312px;
    margin-right: 141px;
    margin-left: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 110px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 35px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 437px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 397px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 6px;
  }

  .u-section-4 .u-image-2 {
    width: 216px;
    height: 216px;
    margin-top: -149px;
    margin-left: 11px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-4 .u-text-2 {
    width: 262px;
    margin-bottom: 0;
    margin-left: 72px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 511px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-4 .u-image-3 {
    width: 323px;
    height: 205px;
    margin-top: 251px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -421px;
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 326px;
}

.u-section-5 .u-group-1 {
  min-height: 266px;
  width: 800px;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 52px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 21px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-5 .u-group-1 {
    min-height: 201px;
    margin-top: 46px;
    margin-bottom: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 25px;
    margin-bottom: -2px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-5 .u-group-1 {
    min-height: 218px;
    margin-top: 51px;
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 4px;
    padding-right: 4px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 725px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 57px auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 527px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: normal;
  margin: 103px 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 6px 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  margin: 34px 127px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: verdana;
  margin: 34px auto 50px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/dc.jpg");
  min-height: 527px;
  background-position: 72.44% 50%;
}

.u-section-6 .u-image-2 {
  width: 251px;
  height: 251px;
  background-image: url("images/ebee33e407221a4659a7a1b1d17dc600.jpg");
  background-position: 50% 50%;
  margin: -147px 435px 57px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    letter-spacing: 2px;
    margin-top: 33px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-top: 20px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
    margin-right: 105px;
  }

  .u-section-6 .u-btn-1 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 33px;
  }

  .u-section-6 .u-image-1 {
    min-height: 481px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-image-2 {
    width: 282px;
    height: 282px;
    margin-top: -128px;
    margin-right: 319px;
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 80px;
  }

  .u-section-6 .u-image-2 {
    width: 226px;
    height: 226px;
    margin-top: -92px;
    margin-right: 237px;
    margin-bottom: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1245px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 89px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 60px;
  }

  .u-section-6 .u-image-2 {
    width: 282px;
    height: 282px;
    margin: -117px auto 49px 27px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1260px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 38px;
  }

  .u-section-6 .u-image-2 {
    width: 264px;
    height: 264px;
    margin-top: -121px;
    margin-bottom: 54px;
    margin-left: 13px;
  }
}.u-block-5667-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5667-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -63px);
  width: 35px;
  height: 35px;
}

.u-block-5667-4 {
  position: absolute;
  width: 35px;
  height: 35px;
  right: calc(((100% - 1140px) / 2)  + -57px);
}

@media (max-width: 1199px) {
  .u-block-5667-3 {
    left: calc(((100% - 940px) / 2)  + -52px);
  }

  .u-block-5667-4 {
    right: calc(((100% - 940px) / 2)  + -47px);
  }
}

@media (max-width: 991px) {
  .u-block-5667-3 {
    left: calc(((100% - 720px) / 2)  + -40px);
  }

  .u-block-5667-4 {
    right: calc(((100% - 720px) / 2)  + -36px);
  }
}

@media (max-width: 767px) {
  .u-block-5667-3 {
    left: calc(((100% - 540px) / 2)  + -105px);
  }

  .u-block-5667-4 {
    right: calc(((100% - 540px) / 2)  + -101px);
  }
}

@media (max-width: 575px) {
  .u-block-5667-2 {
    margin-top: 145px;
    margin-left: 184px;
  }

  .u-block-5667-3 {
    left: calc(((100% - 340px) / 2)  + -145px);
    margin-top: 145px;
    margin-left: 220px;
  }

  .u-block-5667-4 {
    right: calc(((100% - 340px) / 2)  + -142px);
  }
}.u-section-8 .u-sheet-1 {
  min-height: 775px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 86px auto 0 0;
}

.u-section-8 .u-image-1 {
  background-image: url("images/Untitled4.jpg");
  min-height: 603px;
  background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 603px;
}

.u-section-8 .u-container-layout-2 {
  padding-right: 27px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-family: verdana;
  margin: 75px 0 0 60px;
}

.u-section-8 .u-text-2 {
  margin: 69px 0 0 124px;
}

.u-section-8 .u-btn-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: verdana;
  margin: 45px 0 0 auto;
}

.u-section-8 .u-image-2 {
  width: 289px;
  height: 289px;
  object-position: 50% 50.33%;
  background-position: 50% 50%;
  background-image: url("images/3ff41f589a5756ddc93b522a821f1375.jpg");
  margin: -528px auto 80px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 0;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 69px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 102px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 36px;
  }

  .u-section-8 .u-image-2 {
    width: 238px;
    height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    min-height: 547px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 31px;
    margin-left: 44px;
    width: 316px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 65px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 31px;
  }

  .u-section-8 .u-image-2 {
    width: 183px;
    height: 183px;
    margin-top: -76px;
    margin-bottom: 35px;
    margin-left: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 382px;
    background-position: 36.4% 50%;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 13px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 119px;
    margin-left: 28px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 59px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-8 .u-image-2 {
    width: 171px;
    height: 171px;
    margin-top: -689px;
    margin-bottom: 521px;
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 659px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: 148px;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 13px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 40px;
    margin-right: 8px;
    margin-bottom: 60px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -745px;
    margin-bottom: 607px;
    margin-left: 13px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 824px;
}

.u-section-9 .u-text-1 {
  width: 688px;
  margin: 45px auto 0;
}

.u-section-9 .u-text-2 {
  font-family: Archivo;
  font-size: 3.75rem;
  width: 665px;
  margin: 6px auto 0;
}

.u-section-9 .u-list-1 {
  min-height: 593px;
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  margin-top: 45px;
  margin-bottom: 45px;
  grid-gap: 30px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-3 {
  font-weight: 400;
  margin: 0 -3px;
}

.u-section-9 .u-text-4 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-5 {
  font-weight: 400;
  margin: 0 -3px;
}

.u-section-9 .u-text-6 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-text-7 {
  font-weight: 400;
  margin: 0 -3px;
}

.u-section-9 .u-text-8 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-text-9 {
  font-weight: 400;
  margin: 0 -3px;
}

.u-section-9 .u-text-10 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-text-11 {
  font-weight: 400;
  margin: 0 -3px;
}

.u-section-9 .u-text-12 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-text-13 {
  font-weight: 400;
  margin: 0 -3px;
}

.u-section-9 .u-text-14 {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-9 .u-list-1 {
    min-height: 489px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    height: auto;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-9 .u-list-1 {
    min-height: 843px;
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-3 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-4 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-5 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-6 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-7 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-8 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-9 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-10 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-11 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-12 {
    margin-left: initial;
    margin-right: initial;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-13 {
    margin-left: -142px;
    margin-right: -142px;
  }

  .u-section-9 .u-text-14 {
    margin-left: initial;
    margin-right: initial;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 767px;
}

.u-section-10 .u-text-1 {
  width: 680px;
  margin: 60px auto 0;
}

.u-section-10 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-10 .u-list-1 {
  min-height: 489px;
  grid-template-columns: repeat(3, calc(33.3333% - 26.6667px));
  grid-template-rows: repeat(1, auto);
  margin-top: 45px;
  margin-bottom: 21px;
  height: auto;
  grid-gap: 40px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-1 {
  height: 355px;
  object-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-3 {
  width: 270px;
  margin: 20px auto 0;
}

.u-section-10 .u-text-4 {
  font-weight: 400;
  text-transform: none;
  width: 271px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-2 {
  height: 355px;
  object-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-5 {
  width: 270px;
  margin: 20px auto 0;
}

.u-section-10 .u-text-6 {
  font-weight: 400;
  text-transform: none;
  width: 271px;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-10 .u-image-3 {
  height: 355px;
  object-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-7 {
  width: 270px;
  margin: 20px auto 0;
}

.u-section-10 .u-text-8 {
  font-weight: 400;
  text-transform: none;
  width: 271px;
  font-style: italic;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-10 .u-list-1 {
    min-height: 403px;
    margin-bottom: 26px;
  }

  .u-section-10 .u-image-1 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-10 .u-image-2 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-10 .u-image-3 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-7 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-10 .u-list-1 {
    min-height: 926px;
    grid-template-columns: repeat(2, calc(50% - 20px));
    margin-bottom: 60px;
  }

  .u-section-10 .u-image-1 {
    height: 337px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-2 {
    height: 337px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-3 {
    height: 337px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }

  .u-section-10 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-image-1 {
    height: 506px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-10 .u-image-2 {
    height: 506px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-10 .u-image-3 {
    height: 506px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-7 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }

  .u-section-10 .u-image-1 {
    height: 319px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-image-2 {
    height: 319px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-image-3 {
    height: 319px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-7 {
    font-size: 1.5rem;
  }
}