.u-section-1 .u-sheet-1 {
  min-height: 1153px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 55px 218px 0 219px;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 306px 0;
}

.u-section-1 .u-list-1 {
  min-height: 948px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  width: 1140px;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/vashist.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 89px 0 88px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 12px 101px 0 100px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/yogesh.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 89px 0 88px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 12px 101px 0 100px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/MoreFormalPic2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 89px 0 88px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 12px 101px 0 100px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("images/niya.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 89px 0 88px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 12px 101px 0 100px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 240px;
  height: 240px;
  background-image: url("images/yash.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 89px 0 88px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 12px 101px 0 100px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 240px;
  height: 240px;
  background-image: url("images/you.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 89px 0 88px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 12px 101px 0 100px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 119px;
    margin-right: 118px;
    width: 703px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 206px;
    margin-right: 206px;
  }

  .u-section-1 .u-list-1 {
    min-height: 782px;
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 1px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1553px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1105px;
    grid-template-columns: 50% 50%;
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}