<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenArray</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="icon" href="images/Logo.png" type="image/icon type">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/foot.css">
    <!--fontstyle-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!--icons-->
    <script src="https://kit.fontawesome.com/0443c57efb.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="entire">
        <%- include('./partials/navbar') %>

            <div class="backg">
                <div class="bg1">
                    <img src="images/green.png" height="700px" width="100%">
                </div>
                <div class="bg2">
                    <img src="images/kudos.png" height="350px" width="60%">
                </div>
            </div>
            <div class="stage">
                <div>
                    <img src="images/STAGE1.png" alt="stage1" height="550px" width="550px">
                    <img src="images/STAGE2.png" alt="stage1" height="550px" width="550px">
                    <img src="images/STAGE3.png" alt="stage1" height="550px" width="550px">
                    <img src="images/STAGE4.png" alt="stage1" height="550px" width="550px">
                </div>
                <div>
                    <h1>You have ______ days left for harvest!!</h1>
                </div>
                <div>
                    <h1 id="text"></h1>
                    <button id="location-button">Get Location</button>
                </div>

            </div>
            <script src="/js/temp.js"></script>

</body>

</html>