<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <h1 id='home'>Home</h1>
    <a href="/#video">Video</a>

    <div class="taggbox-container" style=" width:90%;height:100%;overflow: auto;">
        <div class="taggbox-socialwall" data-wall-id="52692" view-url="https://widget.taggbox.com/52692"> </div>
        <script src="https://widget.taggbox.com/embed.min.js" type="text/javascript"></script>
    </div>

    <iframe id ="video" width="958" height="539" src="https://www.youtube.com/embed/sCQ2dAxsDk4" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    
        <a href="/#home">Top</a>

</body>

</html>