<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenArray</title>
    <link rel="icon" href="images/Logo.png" type="image/icon type">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!--fontstyle-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!--icons-->
    <script src="https://kit.fontawesome.com/0443c57efb.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="entire">


        <div class="home">
            <%- include('./partials/navbar') %>
                <div>
                    <img src="images/home.png" height="720px" width="100%">
                </div>
                <div class="homeright">
                    <div class="hometext">
                        BUILDING MORE URBAN GREEN SPACES
                    </div>
                    <div class="triangle">
                        <img src="images/temp1.png" alt="triangle" height="100px" width="150px">
                    </div>
                </div>
                <div class="funfact" id="#facts">
                    <img src="images/ABOUTM.png" height="720px" width="100%">
                    <div class="container">
                        <div class="creeper">
                            <img src="images/leaf2.png" height="550px">
                        </div>
                        <div class="factbox">
                            <div class="tile">
                                FUN FACT!
                            </div>
                            <div class="fact" id="factfact">
                            </div>
                        </div>
                        <div class="leaf">
                            <img src="images/Leaf1.png" height="450px" width="450px">
                        </div>
                    </div>
                </div>
        </div>
        <div class="information" id="info">
            <div class="frame">
                <div class="title">
                    <i class="fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;Information from around us!
                </div>
                <div class="taggbox-container">
                    <div class="taggbox-socialwall" data-wall-id="52692" view-url="https://widget.taggbox.com/52692%22%3E"></div>
                    <script src="https://widget.taggbox.com/embed.min.js" type="text/javascript"></script>
                </div>
            </div>
        </div>
        <%- include('./partials/foot') %>
    </div>
    <script>
        fetch('facts.json')
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                appendData(data);
            })
            .catch(function(err) {
                console.log('error: ' + err);
            });

        function appendData(data) {
            var mainContainer = document.getElementById("factfact");
            var div = document.createElement("div");
            var i = Math.floor(Math.random() * data.length);
            div.innerHTML = '' + data[i].fact + '';
            mainContainer.appendChild(div);
        }
    </script>
</body>

</html>