<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>

    <h1>Sign UP</h1>

    <form action="/signup" method="POST">
        <section>
            <label for="username">Enter username</label>
            <input name="username" type="text" id="username" placeholder="username">
        </section>
        <section>
            <label for="password">Enter password</label>
            <input name="password" type="password" id="password" placeholder="password">
        </section>
        <section>
            <label for="location">Enter location</label>
            <input name="location" type="text" id="location" placeholder="location">
        </section>
        <button>Sign Up</button>
    </form>
    
</body>
</html>