.foot {
    position: absolute;
    /* top: 4350px; */
    left: 0;
    right: 0;
    background-color: #16201a;
    height: 175px;
    width: 100%;
    color: white;
    text-align: center;
    bottom: 0px;
}

.line {
    width: 30%;
    align-self: center;
    margin-left: 530px;
}