.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    height: 60px;
    width: 100%;
    display: flex;
    font-size: 20px;
}

.midnav {
    float: none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10rem;
    margin-left: 20rem;
}

.midnav a {
    margin-right: 9rem;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.rightnav {
    margin-right: 1rem;
}

.leftnav {
    margin-left: 1rem;
}

.navbar.scrolled {
    background: #16201a;
    transition: background 500ms;
}